<nav class="menu navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" (click)="gotoContact()" style="padding-top:0; padding-bottom:0;"> <img class="logo" style="display:inline;" src="fichier/logo.png" /> <span style="display:inline;" class="text-logo">Find My Name</span></a>
                </div>
                <div style="height: 1px;" aria-expanded="false" id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding: 10px;"><img class="incone_menu" (click)="gotoDetail()" src="{{u.photo}}" /><span style="color:white;"> Bonjour, {{u.name}}</span> </li>
                        <li><button (click)="gotoDeco()" style="margin-top: 8px;" type="button" class="btn btn-primary">Déconnexion</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="core">
    <div class="row" style="margin-right:0px;">
        <div class="list-ami col-xs-6 col-sm-4 col-lg-3 col-md-3">
            <ul class="nav nav-button">
                <li (click)="gotoContact()" *ngIf="type == 'ami'" class="selected"><span>Amis</span></li>
                <li (click)="gotoContact()"  *ngIf="type == 'online'"><span>Amis</span></li>
                <li (click)="gotoOnline()" *ngIf="type == 'ami'"><span>Online</span></li>
                <li (click)="gotoOnline()" *ngIf="type == 'online'" class="selected"><span>Online</span></li>
            </ul>
            <div class="sidebar">
                <ul class="nav nav-sidebar">
                    <li id="u" class="active" (click)="onSelectU()"><img class="portrait" src="{{u.photo}}" /><span class="nom"> {{u.name}}</span></li>
                    <li>
                        <input id="form-recherche" class="form-control" placeholder="Rechercher un contact" type="text" [value]="searchFriend" (input)="searchFriend = $event.target.value">
                    </li>
                    <li id="{{contact.id}}" *ngFor="#contact of contacts | RecherchePipe:searchFriend" [class.selected]="contact === selectedContact" (click)="onSelect(contact)"><img class="portrait" src="{{contact.photo}}" /><span>{{contact.name}}</span></li>
                </ul>
            </div>

            <div class="nav nav-ajouter" style="color:white;" *ngIf="type=='ami'">
                <a><span class="text" (click)="prompt_add()">Ajouter un ami</span></a>
            </div>
            <div class="nav nav-ajouter" style="color:white;" *ngIf="type=='online'">
                <a><span (click)="jouer()" class="text">Jouer une partie</span></a>
            </div>
        </div>



        <div class="info-user col-xs-4 col-sm-5 col-lg-7 col-md-7" *ngIf="selectedContact">
            <div *ngIf="en_cours==true">
                <h2>Partie en cours </h2>
                <h3>({{partie_en_cours.j1}}) {{partie_en_cours.s1}} - {{partie_en_cours.s2}} ({{partie_en_cours.j2}}) </h3>
                <ul class="nav">
                    <li *ngFor="#m of partie_en_cours.manche"><span>{{m.theme}}   {{m.s1}} - {{m.s2}}</span></li>
                </ul>
                <button *ngIf="partie_en_cours.player==u.id" (click)="gotoJouer(partie_en_cours)">Jouer</button>
                <h2 *ngIf="partie_en_cours.player!=u.id">En attente</h2>
            </div>
            <div *ngIf="en_cours==false">
                <h1>{{u.name | uppercase}} VS {{selectedContact.name | uppercase}}</h1>
                <h3>Victoire = {{victoire}}</h3>
                <h3>Defaite = {{defaite}}</h3>
                <h2>Histoirque des dernière parties contre {{selectedContact.name | uppercase}} </h2>
                <ul class="nav">
                    <li *ngFor="#h of historique">
                        <span>({{h.j1}}) {{h.s1}} - {{h.s2}} ({{h.j2}})</span> <button (click)="showDetails(h)">Détails</button>
                    </li>
                </ul>
                <button (click)="gotoJouer()"> <span>Jouer</span></button>
            </div>
        </div>



        <div class="info-user col-xs-4 col-sm-5 col-lg-7 col-md-7" *ngIf="!selectedContact && !selectedDetails">
            <h2>Vos Parties</h2>
            <ul class="nav">
                <li *ngFor="#p of parties_en_cours">
                    <span *ngIf="p.player!=u.id">({{p.j1}}) {{p.s1}} - {{p.s2}} ({{p.j2}}) En attente</span>
                    <span *ngIf="p.player==u.id">({{p.j1}}) {{p.s1}} - {{p.s2}} ({{p.j2}}) <button (click)="gotoJouer(p)">Jouer</button></span>
                </li>
            </ul>
        </div>

        <div class="info-user col-xs-4 col-sm-5 col-lg-7 col-md-7" *ngIf="selectedDetails" >
            ({{selectedDetails.j1}}) {{selectedDetails.s1}} - {{selectedDetails.s2}} ({{selectedDetails.j2}})
            <br />
            <ul class="nav">
                <li *ngFor="#m of selectedDetails.manche"><span>{{m.theme}}   {{m.s1}} - {{m.s2}}</span></li>
            </ul>
        </div>

    </div>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
