<nav class="menu navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" (click)="gotoAmis()" style="padding-top:0; padding-bottom:0;"> <img class="logo" style="display:inline;" src="fichier/logo.png" /> <span style="display:inline;" class="text-logo">Find My Name</span></a>
                </div>
                <div style="height: 1px;" aria-expanded="false" id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="margin:8px;"><button type="button" (click)="gotoIn()" class="btn btn-default">Inscription</button></li>        
                        <li style="margin:8px;"><button (click)="gotoCo()" type="button" class="btn btn-primary">Connexion</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="core">
    <div class="row" style="margin-right: 0px; padding-bottom: 20px; margin-bottom: 275px;">
        <div class="presentation col-xs-12 col-sm-6 col-lg-6 col-md-6">
            <h2> Présentation</h2>
            <h1>Il est temps de venir vous amuser avec vos amis.</h1>
            <p>Venez défier vos amis dans ce jeu de connaissance. Pour gagner, il suffit simplement de donner plus de réponse que son adversaire</p>

            <button (click)="gotoIn()" type="button" class="btn btn-success">> Rejoignez-nous <</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 hidden-xs">
           <img src="fichier/presantation.png" style="width: 800px; margin-top: 100px;"/>
        </div>
    </div>
</div>