<nav class="menu navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" (click)="gotoAmis()" style="padding-top:0; padding-bottom:0;"> <img class="logo" style="display:inline;" src="fichier/logo.png" /> <span style="display:inline;" class="text-logo">Find My Name</span></a>
                </div>
                <div style="height: 1px;" aria-expanded="false" id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding: 10px;"><img class="incone_menu" (click)="gotoDetail()" src="{{u.photo}}" /><span style="color:white;"> Bonjour, {{u.name}}</span> </li>
+                        <li><button (click)="gotoDeco()" style="margin-top: 8px;" type="button" class="btn btn-primary">Déconnexion</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="core">
    <div class="row" style="margin-right:0px;">
        <div class="list-ami col-xs-6 col-sm-4 col-lg-3 col-md-3">
            <h1>Liste des noms trouvé</h1>
            <div class="sidebar">
                <ul class="nav nav-sidebar nav-list-nom"></ul>
            </div>

            <div class="nav nav-conteur">
                <span>0 / 0</span>
            </div>
        </div>
        <div class="choix-theme col-xs-4 col-sm-5 col-lg-7 col-md-7">
            <div *ngIf="ami">
                <h2>Vous jouer contre : {{ami.name}}</h2>
            </div>
            <h1>Choisez un thème :</h1>
            <ul class="list-unstyled">
                <li class="theme" *ngFor="#theme of themes" [class.selected]="theme === selectedTheme" (click)="gotoJouer(theme)"><img class="image-theme" src="{{theme.photo}}" /></li>
            </ul>
        </div>
    </div>
</div>
    <!--
    Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license
    -->
