<nav class="menu navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" (click)="gotoAmis()" style="padding-top:0; padding-bottom:0;"> <img class="logo" style="display:inline;" src="fichier/logo.png" /> <span style="display:inline;" class="text-logo">Find My Name</span></a>
                </div>
                <div style="height: 1px;" aria-expanded="false" id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding: 10px;"><img class="incone_menu" (click)="gotoDetail()" src="{{u.photo}}" /><span style="color:white;"> Bonjour, {{u.name}}</span> </li>
                        <li (click)="gotoDeco()"><span class="glyphicon glyphicon glyphicon-off"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<font color="white">
    <div class="core">
        <table width="100%">
            <tr>
                <center><td colspan="2"><img class="portrait" src="{{u.photo}}" /> Changer de photo</td></center>
            </tr>
            <tr>
                <center><td colspan="2">{{u.name}} - #{{u.id}}</td></center>
                <br />
                <br />
            </tr>
            <tr>
                <th>
                    <u>modifications personnelles :</u> <br /> <br />
                </th>
                <th>
                    <u>Références :</u> <br /> <br />
                </th>
            </tr>
            <tr>
                <td><font color="black"><input type="text" placeholder="entrer votre email ici" value="{{u.email}}" /></font><br /> <br /></td>
                <td>Thème favoris : {{u.theme}}</td>
            </tr>
            <tr>
                <td><form (ngSubmit)="modifmdp()"><font color="black"><input type="password" placeholder="entrer votre mot de passe ici" [(ngModel)]="mdp" value="{{u.mdp}}" /></font><input class="btn-primary" type="submit" value="Modifier"><br /> <br /></form></td>
                <td>Meilleur Score : {{u.meilleurScore}}</td>
            </tr>
            <tr>
                <td>Pays : {{u.pays}}</td>
                <td></td>
            </tr>
        </table>
    </div>
</font>


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
