<nav class="menu navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" (click)="gotoContact()" style="padding-top:0; padding-bottom:0;"> <img class="logo" style="display:inline;" src="fichier/logo.png" /> <span style="display:inline;" class="text-logo">Find My Name</span></a>
                </div>
                <div style="height: 1px;" aria-expanded="false" id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding: 10px;"><img class="incone_menu" (click)="gotoDetail()" src="{{u.photo}}" /><span style="color:white;"> Bonjour, {{u.name}}</span> </li>
+                        <li><button (click)="gotoDeco()" style="margin-top: 8px;" type="button" class="btn btn-primary">Déconnexion</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="core">
    <div class="row" style="margin-right:0px; margin-bottom:282px;">
        <div class="profile col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <h1>Bienvenue sur votre profile {{u.name}}  - votre ID est {{u.id}}</h1>

            <h2>Changez votre photo de profile</h2>
            <form id="modif-photo" (ngSubmit)="loadListPhoto()">
                <img class="portrait" src="{{u.photo}}" />
                <select [(ngModel)]="selectPhoto">
                    <option>logo</option>
                    <option>arsenal</option>
                    <option>barca</option>
                    <option>psg</option>
                    <option>ol</option>
                </select>
                <input class="btn-primary" type="submit" value="Changer de photo" />
            </form>

            <div class="modif-info col-xs-12 col-sm-8 col-lg-4 col-md-4">
                <h2>Information personnelles</h2>
                <h3>Votre adresse mail:</h3>
                <input id="form-recherche" class="form-control" type="text" placeholder="entrer votre email ici" value="{{u.mail}}" disabled="disabled" />
                <h3>Modifiez votre mot de passe:</h3>
                <input type="hidden" [(ngModel)]="id" /><input id="form-recherche" class="form-control" type="password" [(ngModel)]="password" placeholder="entrer votre mot de passe ici" value="{{u.password}}" /><input class="btn-primary" type="button" (click)="modifmdp(id)" value="Modifier" />
                <h3>Changez votre pays:</h3>
                <select [(ngModel)]="selectPays" (ngModelChange)="changePays()">
                    <option *ngFor="#p of pays" [value]="p">{{p}}</option>
                </select>
            </div>
            <div class="favori col-xs-12 col-sm-8 col-lg-4 col-md-4">
                <h2>Préférences</h2> 
                <p>Thème favoris : {{theme_favori}}</p>
                <p>Meilleur Score : {{u.meilleurScore}}</p>
            </div>
            <div class="stat col-xs-12 col-sm-8 col-lg-4 col-md-4">
                <h2>Statistiques</h2>

                <p>Nombre de parties jouées :{{nbparties}}</p>
                <p>Nombre de victoires:{{nbv}} </p> 
                <p>Nombre de defaites: {{nbd}}</p> 
                <p>Nombre d'amis: {{nbAmi}}</p> 
           </div>
        </div>
    </div>
 </div>



        <!--
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license
        -->
