body {
  background-image: url("fichier/fond.jpg");
  background-attachment: fixed;
}
.logo {
  width: 40px ;
  height: 50px;
}
.portrait {
  width: 60px ;
  height: 60px;
}
.incone_menu {
  width: 30px ;
  height: 30px;
}

.form-recherche {
	display: block;
	width: 98%;
    margin: 10px auto 10px auto;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ligne-ami{
    width: 98%;
    margin: 10px auto;
}

.text-logo,
.text-logo:hover,
.text-logo:active {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-family: Verdana;
  font-weight: bold;
}
.nom {
  color: black;
  margin-left: 1em;
  font-size: 20px;
}
.menu {
  background: rgba(0, 0, 0, 0.9);
}
.nav-button {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav-button .active {
  background: rgba(255, 255, 255, 0.5);
}
.nav-button li {
  float: left;
  width: 50%;
  border-left: 1px solid black;
}
.nav-button li a {
  display: block;
  float: left;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  color: #DCDCDC;
  text-decoration: none;
  text-align: center;
}
.nav-button li a span {
  font-size: 24px;
  color: black;
}
.nav-ajouter {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 1px;
}
.nav-ajouter a {
  display: block;
  float: left;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  color: #DCDCDC;
  text-decoration: none;
  text-align: center;
}
.nav-ajouter a span {
  font-size: 24px;
  color: black;
}
.core {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 80px auto 65px auto;
  width: 100%;
  height: 800px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #595757;
}
.sidebar {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  height: 710px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
.nav-sidebar {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: lightgray;
}
footer {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  font-family: "Proxima Nova Semibold";
  font-size: 13px;
  text-align: center;
  position: relative;
  clear: both;
  margin-top: -40px;
  height: 40px;
}
